@model PokemonView

@{
    ViewData["Title"] = "Index";
}

<h1>Pokémons</h1>

<form class="form-group search" asp-controller="Pokemons" asp-action="Index">
    <input class="form-control col-md-8 float-left" name="searchString" type="search" placeholder="Search for a Pokémon" aria-label="Search">
    <input class="btn btn-primary col-md-4 float-left" type="submit" value="Search" />
</form>

@foreach (Pokemon p in Model.Pokemon)
{
    <div class="float-left col-md-6 col-lg-4">
        @foreach (Color c in Model.Color)
        {
            if (c.Id == p.ColorId)
            {
                <div class="card @c.Name" style="background-color:@c.Name">
                    <div class="card-header" style="text-align: center;">
                        <h3 class="float-right">
                            #
                            @if (p.Number < 10)
                            {
                                var number = "00" + p.Number;
                                @number
                            }
                            else if (p.Number < 100)
                            {
                                var number = "0" + p.Number;
                                @number
                            }
                            else if (p.Number < 1000)
                            {
                                var number = "" + p.Number;
                                @number
                            }
                            else
                            {
                                var number = p.Number;
                                @number
                            }
                        </h3>
                        <a asp-action="Details" asp-route-id="@p.Id">
                            <img class="pokimg afbeelding col-md-12" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/@p.url" alt="@p.Name" title="@p.Name">
                        </a>
                    </div>
                    <div class="card-body">
                        <h3>@p.Name</h3>
                        @foreach (var g in Model.Gender)
                        {
                            if (g.Id == p.GenderId)
                            {
                                <p> Gender: @g.Name</p>
                            }
                        }
                        <p>Generation @p.Generation</p>
                        @foreach (var pt in Model.PokemonType)
                        {
                            if (p.Id == pt.PokemonsId)
                            {
                                @foreach (var t in Model.PokeType)
                                {
                                    if (pt.PokeTypeId == t.Id)
                                    {
                                        <span style="margin-right: 5px;"><img class="pokimg3 afbeelding" src="/uploads/images/types/@t.ImageFileName" alt="@t.Name" title="@t.Name"></span>
                                    }
                                }
                            }
                        }
                    </div>
                </div>
            }
        }
    </div>
}
