@model GoView

@{
    ViewData["Title"] = "Index";
}

<h1>Pokémons</h1>

<form class="form-group search" asp-controller="Pokemons" asp-action="Index">
    <input class="form-control col-md-8 float-left" name="searchString" type="search" placeholder="Search for a Pokémon" aria-label="Search">
    <input class="btn btn-primary col-md-4 float-left" type="submit" value="Search" />
</form>

<p>
    <a asp-action="Create">Add New</a>
</p>
@foreach (Go g in Model.Go)
{
    <div class="float-left col-md-6 col-lg-4">
        @foreach (Pokemon p in Model.Pokemon)
        {
            if (p.Id == g.PokemonsId)
            {
                foreach (Color c in Model.Color)
                {
                    if (p.ColorId == c.Id)
                    {
                        <div class="card @c.Name" style="background-color:@c.Name">
                            <div class="card-header" style="text-align: center;">
                                <h3 class="float-right">
                                    #
                                    @if (p.Number < 10)
                                    {
                                        var number = "00" + p.Number;
                                        @number
                                    }
                                    else if (p.Number < 100)
                                    {
                                        var number = "0" + p.Number;
                                        @number
                                    }
                                    else if (p.Number < 1000)
                                    {
                                        var number = "" + p.Number;
                                        @number
                                    }
                                    else
                                    {
                                        var number = p.Number;
                                        @number
                                    }
                                </h3>
                                <img class="pokimg afbeelding col-md-12" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/@p.url" alt="@p.Name" title="@p.Name">
                            </div>
                            <div class="card-body">
                                <h3>@p.Name</h3>
                                <p>Seen: @g.Seen</p>
                                <p>Caught: @g.Caught</p>
                                <p>
                                    Caught a lucky:
                                    @if (g.Lucky == false)
                                    {
                                        var lucky = " No";
                                        @lucky
                                    }
                                    else
                                    {
                                        var lucky = " Yes";
                                        @lucky
                                    }
                                </p>
                                <p>
                                    Caught a shiny:
                                    @if (g.Shiny == false)
                                    {
                                        var Shiny = " No";
                                        @Shiny
                                    }
                                    else
                                    {
                                        var Shiny = " Yes";
                                        @Shiny
                                    }
                                </p>
                                <p>
                                    Caught a shadow:
                                    @if (g.Shadow == false)
                                    {
                                        var Shadow = " No";
                                        @Shadow
                                    }
                                    else
                                    {
                                        var Shadow = " Yes";
                                        @Shadow
                                    }
                                </p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-primary" asp-action="Details" asp-route-id="@g.Id">Details</a>
                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@g.Id">Edit</a>
                                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@g.Id">Delete</a>
                            </div>
                        </div>
                    }
                }
            }
        }
    </div>
}